<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="nav-center">
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
          <li class="active">
            <a data-toggle="tab" href="#forum-list" role="tab" aria-expanded="true" #forumsListToggleButton>Forums List</a>
          </li>
          <li>
            <a data-toggle="tab" href="#topics-list" role="tab" aria-expanded="false" #topicsListToggleButton>Topics List</a>
          </li>
          <li>
            <a data-toggle="tab" href="#posts-list" role="tab" aria-expanded="false" #postsListToggleButton>Posts List</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="forum-list" #forumsListTab>
          <app-forums-list (gotoTopicEvent)="gotoTopic($event)" #forumsList></app-forums-list>
        </div>
        <div class="tab-pane" id="topics-list" #topicsListTab>
          <app-topics-list [forumSelectOptions]="forumsList.forumSelectOptions" (topicUpdated)="topicUpdated()" #topicsList></app-topics-list>
        </div>
        <div class="tab-pane" id="posts-list" #postsListTab>
          <div class="card">
            <div class="card-content">
              <table class="table">
                <thead class="text-primary">
                <tr>
                  <th class="text-left">Title</th>
                  <th class="text-left">Description</th>
                  <th class="text-center">Created User</th>
                  <th class="text-center">Created Date</th>
                  <th class="text-center">Topics</th>
                  <th class="text-center">Posts</th>
                  <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let forum of forums; let idx = index">

                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
