<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="nav-center">
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
          <li class="active">
            <a data-toggle="tab" href="#forum-list" role="tab" aria-expanded="true" #forumsListToggleButton>Forums List</a>
          </li>
          <li>
            <a data-toggle="tab" href="#topics-list" role="tab" aria-expanded="false" #topicsListToggleButton>Topics List</a>
          </li>
          <li>
            <a data-toggle="tab" href="#posts-list" role="tab" aria-expanded="false" #postsListToggleButton>Posts List</a>
          </li>
          <li>
            <a data-toggle="tab" href="#reported-posts-list" role="tab" aria-expanded="false" #reportedpostsListToggleButton>Flagged by Users</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="forum-list" #forumsListTab>
          <app-forums-list (gotoTopicEvent)="gotoTopic($event)" #forumsList></app-forums-list>
        </div>
        <div class="tab-pane" id="topics-list" #topicsListTab>
          <app-topics-list [forumSelectOptions]="forumsList.forumSelectOptions" (topicUpdated)="topicUpdated()" (gotoPostsEvent)="gotoPosts($event)" #topicsList></app-topics-list>
        </div>
        <div class="tab-pane" id="posts-list" #postsListTab>
          <app-posts-list (postDeleted)="postUpdated()" #postsList></app-posts-list>
        </div>
        <div class="tab-pane" id="reported-posts-list" #reportedpostsListTab>
          <app-reported-posts-list #reportedpostsList></app-reported-posts-list>
        </div>
      </div>
    </div>
  </div>
</div>
