<div class="main-content">
  <div class="container-fluid">
    <div class="card" *ngIf="article">
      <div class="card-content">
        <div class="header">
          <app-uploader [imgId]="article.featuredImage" (uploaded)="imgUploaded($event)" [autoupload]="true"></app-uploader>
          <div class="form-group title">
            <label class="control-label">Title</label>
            <input class="form-control" [(ngModel)]="article.title"/>
          </div>
        </div>
        <div class="form-group">
          <textarea class="tinymce-editor form-control"></textarea>
        </div>
      </div>
      <div class="card-footer text-center">
        <button class="btn btn-success" (click)="saveArticle()" [disabled]="!articleChanged()">Save</button>
      </div>
    </div>
  </div>
</div>
