.post-description {
  padding: 30px;
}

.report-diag {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 1s linear;
  transition: opacity 0.1s linear;
}

.report-diag.show {
  opacity: 1;
  display: block;
}

.reported-text {
  color: red;
}

.row.profile > div {
  min-width: 150px;
  max-width: calc(100% - 150px);
}

.btn-report {
  background-color: rgb(255, 255, 212);
  color: black;
}
