<div class="card">
  <div class="card-content">
    <div class="row" *ngIf="profile && post">
      <div class="col-lg-1 col-md-2 col-sm-4 col-xs-6">
        <div>
          <a>
            <cl-image data-u="image" public-id="{{profile.imgId}}" cloud-name="{{mainService.cloudName}}" class="md-card-image" crop="fill" quality="80" height="200" width="200" format="jpg">
            </cl-image>
          </a>
        </div>

      </div>
      <div class="col-lg-11 col-md-10 col-sm-8 col-xs-6">
        <div class="">
          {{mainService.userId === post.createdUserId ? 'You' : mainService.userNames[post.createdUserId]}} replied {{mainService.getDateTimeDifference(post.createdDate)}}
          <button class="btn btn-success btn-xs pull-right" *ngIf="mainService.userId !== post.createdUserId && !isReported" (click)="reportDiagToggle()">
            <i class="material-icons">report</i>
          </button>
          <button class="btn btn-success btn-xs pull-right" *ngIf="!isUnLike() && mainService.userId !== post.createdUserId" (click)="dislike()">
            <i class="material-icons">thumb_down</i>
          </button>
          <button class="btn btn-success btn-xs pull-right" *ngIf="isUnLike() && mainService.userId !== post.createdUserId" (click)="removeDislike()">
            <i class="material-icons text-rose">thumb_down</i>
          </button>
          <button class="btn btn-success btn-xs pull-right" *ngIf="isLike() && mainService.userId !== post.createdUserId" (click)="removeLike()">
            <i class="material-icons text-rose">thumb_up</i>
          </button>
          <button class="btn btn-success btn-xs pull-right" *ngIf="!isLike() && mainService.userId !== post.createdUserId" (click)="like()">
            <i class="material-icons">thumb_up</i>
          </button>
        </div>
        <div class="description">
          {{post.likeUsersId.length}} users like and {{post.unlikeUsersId.length}} users dislike
        </div>
        <div class="reported-text" *ngIf="isReported" data-color="rose">
          You reported this post
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post-description" [innerHTML]="post.text">
    </div>
    <div [class]="showReport ? 'report-diag show' : 'report-diag'" [ngStyle]="diagBackgroundStyle">
      <div [ngStyle]="diagStyle">
        <div class="card report-card">
          <div class="card-header" data-background-color="orange">
            <h4>Report Post</h4>
          </div>
          <div class="card-content">
            <div class="form-group">
              <label class="control-label">Why are you reporting this post?</label>
              <textarea class="form-control" [(ngModel)]="reportText"></textarea>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-success" (click)="report()" [disabled]="reportText == ''">Report</button>
            <button class="btn btn-danger" (click)="hideDiag()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
