<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-content">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <td class="text-left">Title</td>
                  <td class="text-left">Created User</td>
                  <td class="text-left">Created Date</td>
                  <td class="text-center">Location</td>
                  <td class="text-center">Address</td>
                  <td class="text-center">Members</td>
                  <td class="text-center">Actions</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let club of clubs; let idx = index;">
                  <td class="text-left">{{club.title}}</td>
                  <td class="text-left">{{club.username}}</td>
                  <td class="text-left">{{mainService.getDateString(club.created)}}</td>
                  <td class="text-center">{{club.location}}</td>
                  <td class="text-center">{{club.address}}</td>
                  <td class="text-center"><a [routerLink]="['userslist/' + club._id]">{{club.pastMembers + club.activeMembers + club.tagWaitingMembers}}</a></td>
                  <td class="text-center">
                    <button class="btn btn-success btn-xs" *ngIf="!club.confirmed" (click)="approveClub(club._id)">
                      <i class="material-icons">check</i>
                      Approve
                    </button>
                    <button class="btn btn-warning btn-xs" *ngIf="club.confirmed" (click)="rejectClub(club._id)">
                      <i class="material-icons">close</i>
                      Reject
                    </button>
                    <button class="btn btn-danger btn-xs" (click)="deleteClub(club._id)">
                      <i class="material-icons">delete</i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
