<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-content">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th class="text-left">Clubname</th>
                  <th class="text-center">Tagged Username</th>
                  <th class="text-center">Tagged User Type</th>
                  <th class="text-center">Tagged User State</th>
                  <th class="text-center">Tagged Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody #tblBody (click)="tblClicked($event)">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
