<div class="main-content">
  <div class="container-fluid">
    <div class="row col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <form (submit)="saveProfile()">
        <div class="card">
          <div class="card-header">
            <div class="card-header" data-background-color="orange">
              <h3 class="text-center">My Profile</h3>
            </div>
          </div>
          <div class="card-content">
              <div class="row">
                <div class="col-md-5 pull-right upload-avatar">
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail">
                        <img src="../../../../../assets/img/image_placeholder.jpg" alt="..." #clubImg *ngIf="imgChanged">
                        <cl-image data-u="image" public-id="{{imgId}}" cloud-name="{{mainService.cloudName}}" class="md-card-image" crop="fill" quality="80" height="560" width="860" format="jpg">
                        </cl-image>
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail"></div>
                      <div>
                        <span class="btn btn-rose btn-round btn-file btn-sm">
                            <span class="fileinput-new">Select image</span>
                            <span class="fileinput-exists">Select image</span>
                            <input type="file" name="..." #avatar class="btn btn-file" ng2FileSelect [uploader]="uploader" (change)="imgChanged = true"/>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input class="form-control" required [(ngModel)]="firstName" name="firstName"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input class="form-control" required [(ngModel)]="lastName" name="lastName" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="control-label">Email address</label>
                  <input class="form-control" type="email" required [(ngModel)]="email" name="email" />
                </div>
              </div>
            <div class="row">
              <h3><small>I tagged myself as a member of these clubs</small></h3>
              <div class="" *ngFor="let club of clubs">
                <p>{{club.mytag.memberState}} {{club.mytag.memberType}} of {{club.title}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-success pull-right" [disabled]="orgFirstname == firstName && orgLastname == lastName && orgEmail == email && !imgChanged">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
