li .users-option::before {
  content: '\E87C';
}

.setup-image {
  text-align: center;
}

.setup-image > div {
  max-width: 150px;
}

.row {
  padding-left: 40px;
  padding-right: 40px;
}

.description {
  font-style: italic;
  font-size: 16px;
  margin-left: 10px;
}

i:hover {
  cursor: pointer;
}

i {
  position: relative;
  top: 5px;
  left: 10px;
}

.row {
  padding-bottom: 40px;
}

.mins-text {
  position: relative;
  top: 25px;
}

.card-footer {
  text-align: center;
}

.card-footer button {
  width: 250px;
}

.bigger-textarea {
  height: 150px;
}

.colorpicker {
  width: 30px;
}

.narrations-list .multiselection label {
  margin-right: 30px;
}

.row .row {
  padding-bottom: 0;
}

.container-fluid > .card > .card-content {
  height: calc(100vh - 315px) !important;
  overflow: auto !important;
}

textarea {
  min-height: 120px;
}

.setup-image {
  max-height: 250px;
  width: auto;
}
