<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3>{{isEdit ? 'Edit Setup' : 'Add Setup'}}</h3>
      </div>
      <div class="card-content">
        <form (submit)="saveSetup()">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="form-group label-floating">
                <label class="control-label">Setup Name</label>
                <input class="form-control" [(ngModel)]="name" name="name" required />
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Created by:</label>
                <input class="form-control" list="usernames" [(ngModel)]="createdUser" name="createdUser" required>
                <datalist id="usernames"  multiple data-style="select-with-transition" required>
                  <option *ngFor="let user of users">
                    {{user.name}}
                  </option>
                </datalist>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 setup-image">
              <app-uploader [imgId]="imgId" (changed)="uploading = true;" (uploaded)="mainImgUploaded($event)" #mainUploader></app-uploader>
            </div>
          </div>


          <div class="row setup-description">
            <div class="cheader">
              <h3>
                Description
              </h3>
            </div>
            <div class="col-md-12 col-lg-12">
              <textarea class="form-control" required [(ngModel)]="setupDescription" name="setupDescription" ></textarea>
            </div>
          </div>


          <div class="row difficulty">
            <div class="cheader">
              <h3>
                Difficulty
              </h3>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="col-lg-6 col-md-6 col-sm-6 roles-names form-group label-floating">
                <label class="control-label">Difficulty level</label>
                <select class="form-control" [(ngModel)]="difficulty" name="difficulty">
                  <option>Beginner</option>
                  <option>Intermediate</option>
                  <option>Advanced</option>
                  <option>Expert</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row member-count">
            <div class="cheader">
              <h3>
                Recommended Number of Players
              </h3>
            </div>
            <div class="col-md-12 col-lg-12">
              <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                <label class="control-label">Minimum</label>
                <input class="form-control" required type="number" [(ngModel)]="minimumMember" (change)="minChange()" name="minimumMember" min="1" />
              </div>
              <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                <label class="control-label">Maximum</label>
                <input class="form-control" type="number" [(ngModel)]="maximumMember" (change)="maxChange()" name="maximumMember" min="1" required />
              </div>
            </div>
          </div>


          <div class="row playTime">
            <div class="cheader">
              <h3>
                Expected Play Time
              </h3>
            </div>
            <div class="col-md-12 col-lg-12">
              <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                <label class="control-label"></label>
                <input class="form-control" required type="number" min="1" [(ngModel)]="playTime" name="playTime"/>
              </div>
              <span class="mins-text">mins</span>
            </div>
          </div>

          <div class="row teams">
            <div class="cheader">
              <h3>
                Teams
                <i class="material-icons" (click)="addNewTeam()">add_circle</i>
              </h3>
            </div>
            <div class="teams-list">
              <div class="row team" *ngFor="let team of teams; let idx = index;">
                <i class="material-icons pull-right" (click)="removeTeam(idx)">delete</i>
                <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                  <label class="control-label">Name</label>
                  <input class="form-control" [(ngModel)]="team.name" required name="{{'teamname' + idx}}"/>
                </div>
                <div class="form-group label-floating col-lg-3 col-md-3 col-sm-3">
                  <input class="colorpicker" [(colorPicker)]="team.color" [style.background]="team.color" readonly/>
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Win Condition</label>
                  <textarea class="form-control" [(ngModel)]="team.description" required name="{{'teamdescription' + idx}}" ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row roles">
            <div class="cheader">
              <h3>
                Roles <span class="description">What roles are in the game and how do they work?</span>
                <i class="material-icons" (click)="addNewRole()">add_circle</i>
              </h3>
            </div>
            <div class="roles-list">
              <div class="row" *ngFor="let role of roles; let ii = index;">
                <i class="material-icons pull-right" (click)="removeRole(idx)">delete</i>
                <app-uploader class="col-md-2 col-lg-2 col-sm-2" [imgId]="role.imgId" (changed)="uploaders[ii] = true" (uploaded)="roleImgUploaded(ii, $event);"></app-uploader>
                <div class="col-md-10 col-lg-10 col-sm-10">
                  <div class="col-lg-6 col-md-6 col-sm-6 roles-names form-group">
                    <label class="control-label">Role Name</label>
                    <input class="form-control" list="defalutRolesLists" [(ngModel)]="role.name" name="{{'rolename' + ii}}" [attr.index]="ii" required (blur)="roleNameChanged($event)" />
                    <datalist id="defalutRolesLists" [attr.index]="ii">
                      <option *ngFor="let role1 of defaultRoles; let i = index" [attr.id]="role1._id" [attr.value]="role1.name" [attr.roleIndex]="i" selected="{{ role._id == role1._id ? 'selected' : '' }}" >
                        {{role1.name}}
                      </option>
                    </datalist>
                  </div>
                  <div class="form-group col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Team</label>
                    <select class="form-control" [(ngModel)]="role.team" name="{{'roleteam' + ii}}">
                      <option value="N/A">N/A</option>
                      <option *ngFor="let team of teams; let i = index" [attr.value]="team.name">
                        {{team.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" required [(ngModel)]="role.description" name="{{'roledescription' + ii}}"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row intersection">
            <div class="cheader">
              <h3>
                Interactions
                <i class="material-icons" (click)="addNewIntersection()">add_circle</i>
              </h3>
            </div>
            <div class="narrations-list">
              <div class="row team" *ngFor="let intersection of intersections; let idx = index;">
                <i class="material-icons pull-right" (click)="removeIntersection(idx)">delete</i>
                <div class="form-group multiselection">
                  <label class="control-label">Roles/Teams</label>
                  <ss-multiselect-dropdown [options]="getIntersectionSelectOptions()" [settings]="selectSettings" [(ngModel)]="intersection.roles" name="{{'intersection' + idx}}"></ss-multiselect-dropdown>
                  <i class="material-icons pull-right">up</i>
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" [(ngModel)]="intersection.description" required name="{{'narrdescription' + idx}}" ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row narration">
            <div class="cheader">
              <h3>
                Narration <span class="description">Does the order in which roles are woken up matter? What is announced when people die? etc.</span>
                <i class="material-icons" (click)="addNewNarration()">add_circle</i>
              </h3>
            </div>
            <div class="narrations-list">
              <div class="row team" *ngFor="let narration of narrations; let idx = index;">
                <i class="material-icons pull-right" (click)="removeNarration(idx)">delete</i>
                <i class="material-icons pull-right" (click)="narrationDown(idx)" *ngIf="idx != narrations.length - 1">arrow_downward</i>
                <i class="material-icons pull-right" (click)="narrationUp(idx)" *ngIf="idx != 0">arrow_upward</i>
                <div class="">
                  <div class="">
                    <ss-multiselect-dropdown [options]="getRolesSelectOptions()" [texts]="selectedTexts" [settings]="selectSettings" [(ngModel)]="narration.roles" name="{{'narration' + idx}}"></ss-multiselect-dropdown>
                  </div>
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Narration</label>
                  <textarea class="form-control" [(ngModel)]="narration.description" required name="{{'narrdescription' + idx}}" ></textarea>
                </div>
              </div>
            </div>
          </div>


          <div class="row voting-roles">
            <div class="cheader">
              <h3>
                Voting Rules <span class="description">How does voting work? Are ties possible? etc.</span>
              </h3>
            </div>
            <div class="roles-list">
              <div class="col-md-10 col-lg-10 col-sm-10">
                <div class="col-lg-6 col-md-6 col-sm-6 roles-names form-group label-floating">
                  <label class="control-label">Voting Name</label>
                  <input class="form-control" list="defalutVotingsLists" value="{{voting.name}}" (blur)="votingNameChanged($event)" required/>
                  <datalist id="defalutVotingsLists">
                    <option *ngFor="let cvoting of defaultVotings">
                      {{cvoting.name}}
                    </option>
                  </datalist>
                </div>
                <div class="{{voting.description ? 'form-group label-floating col-lg-12 col-md-12 col-sm-12' : 'form-group label-floating col-lg-12 col-md-12 col-sm-12 is-empty'}}">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" value="{{voting.description}}" required ></textarea>
                </div>
              </div>
            </div>
          </div>


          <div class="row missing-rules">
            <div class="cheader">
              <h3>
                Additional Rules and Corner Cases <span class="description">What rules have you missed</span>
                <i class="material-icons" (click)="addNewAdditionalRule()">add_circle</i>
              </h3>
            </div>
            <div class="additonal-rules-list">
              <div class="row" *ngFor="let additionalRule of additionalRules; let idx = index;">
                <i class="material-icons pull-right" (click)="removeAdditionalRule(idx)">delete</i>
                <div class="form-group multiselection">
                  <label class="control-label">Roles/Teams</label>
                  <ss-multiselect-dropdown [options]="getIntersectionSelectOptions()" [settings]="selectSettings" [(ngModel)]="additionalRule.roles" name="{{'intersection' + idx}}"></ss-multiselect-dropdown>
                  <i class="material-icons pull-right">up</i>
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" [(ngModel)]="additionalRule.description" required name="{{'additionalRule' + idx}}" ></textarea>
                </div>
              </div>
            </div>
          </div>


          <div class="row role-frequecies">
            <div class="cheader">
              <h3>
                Role Frequencies
              </h3>
              <h5>
                Do you use randomization to generate your set of roles? If so, how?
              </h5>
            </div>
            <div class="col-md-12 col-lg-12">
              <textarea class="form-control" required [(ngModel)]="roleFrequencies" name="roleFrequencies" ></textarea>
            </div>
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-content">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead class="text-primary">
                      <tr>
                        <th>Number of players</th>
                        <th *ngFor="let val of numbers">{{val}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let role of roles; let roleIdx = index;">
                        <td>{{role.name}}</td>
                        <td *ngFor="let val of numbers; let valIdx = index;">
                          <input class="form-control" type="number" [(ngModel)]="tblVal[roleIdx][val]" name="{{'tblVal-' + valIdx + '-' + roleIdx}}" />
                        </td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <td>Total</td>
                        <td *ngFor="let val of numbers">{{calcSum(val)}}</td>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" [disabled]="dataChanged()" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
