<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h2>What is a Liars Club</h2>
        </div>
        <div class="card-content">
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h2>What is Mafia</h2>
        </div>
        <div class="card-content">
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h2>How should I use this website</h2>
        </div>
        <div class="card-content">
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
