
<div class="wrapper">
    <div class="{{!isUsers ? 'sidebar' : 'sidebar hidden'}}" data-active-color="white" data-background-color="red">
    <!-- <div class="sidebar" data-color="red" data-image=""> -->
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg);"></div>
    </div>
    <div class="{{!isUsers ? 'main-panel' : ''}}">
        <navbar-cmp class="{{!isUsers ? '' : 'hidden'}}"></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <div *ngIf="!isMap()" class="{{!isUsers ? '' : 'hidden'}}">
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>
