<div class="card">
  <div class="card-content">
    <cl-image data-u="image" public-id="{{club.imgUrl}}" cloud-name="{{mainService.cloudName}}" class="md-card-image" crop="fill" quality="80" height="80" width="80" format="gif">
    </cl-image>
    <span>
        <span class="club-title">
          <a [routerLink]="['club/' + club._id]" *ngIf="club.tagged && club.tagConfirmed">{{club.title}}</a>
          <a *ngIf="!club.tagged || !club.tagConfirmed">{{club.title}}</a>
          <small>{{club.tagged ? '   -- You tagged yourself as ' + (club.taggedUsers[club.taggedIndex].memberState === 'active' ? 'an ' : 'a ')
            + club.taggedUsers[club.taggedIndex].memberState + ' ' + club.taggedUsers[club.taggedIndex].memberType + ' of this club'
            + (!club.tagConfirmed ? ' (waiting for approval)' : '')
            : ''}}</small>
        </span>
        <span class="club-desciption">Every {{club.dayOfWeek}} at {{club.time}}, {{club.activeMembers + club.pastMembers}} members</span>
    </span>
    <i class="material-icons hover delete-icon" (click)="clubDelete()" *ngIf="isMine(club)">delete</i>
    <i class="material-icons hover" (click)="showEditDiag = !showEditDiag">info</i>
  </div>

  <div class="card-footer" *ngIf="showEditDiag">
    <div class="edit">
      <p>Location: {{club.location}}</p>
      <p>{{club.activeMembers}} active members, {{club.pastMembers}} past members</p>
      <p>Meets on {{club.dayOfWeek}}s at {{club.time}}</p>
      <div class="select-member" *ngIf="!club.tagged">
        <p>I am a ...</p>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <select class="selectpicker" data-style="select-with-transition" data-size="7" [(ngModel)]="memberState" name="memberState">
            <option value="active">Active</option>
            <option value="past">Past</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <select class="selectpicker" data-style="select-with-transition" data-size="7" [(ngModel)]="memberType" name="memberType">
            <option value="member">Member</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-success btn-sm" (click)="tag()" *ngIf="!club.tagged">Tag myself with this club</button>
        <button class="btn btn-danger btn-sm" (click)="unTag()" *ngIf="club.tagged && club.tagConfirmed">Untag this club</button>
      </div>
    </div>
  </div>
</div>

<div class="transparent-panel" *ngIf="showDiag" (click)="cancel()">
</div>


<div class=' {{ showDiag ? "card editDiag" : "card editDiag hidden" }} ' #editDiag>
  <div class="card-content">
    <h2>{{club.title}}</h2>
    <p>{{club.location}}</p>
    <p>{{club.activeMembers}} active members, {{club.pastMembers}} past members</p>
    <p>Meets on {{club.dayOfWeek}}s at {{club.time}}</p>
    <div class="select-member">
      <p>I am a ...</p>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <select class="selectpicker" data-style="select-with-transition" data-size="7" [(ngModel)]="memberState" name="memberState">
          <option value="active">Active</option>
          <option value="past">Past</option>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <select class="selectpicker" data-style="select-with-transition" data-size="7" [(ngModel)]="memberType" name="memberType">
          <option value="member">Member</option>
          <option value="admin">Admin</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-success pull-right" (click)="tag()" *ngIf="!club.tagged">Tag myself with this club</button>
    <button class="btn btn-danger pull-right" (click)="unTag()" *ngIf="club.tagged">Untag myself with this club</button>
  </div>
</div>
