.card-header input {
  font-size: 30px;
}

.featured-image {
  max-width: 210px;
  padding: 30px;
}

.container-fluid > .row > .card > .card-content {
  padding: 0 80px;
}

.panel .panel-body .checkbox {
  margin-top: 0px;
}

.repeat {
  display: flex;
  align-items: center;
}

.row {
  padding: 0 20px;
}

.m-t-m-15 {
  margin-top: -15px;
}

.m-t-m-10 {
  margin-top: -10px;
}

.m-l-15 {
  margin-left: 15px;
}

i {
  cursor: pointer;
}

.events .card-content {
  transition: max-height 0.2s;
  transition: padding 0.2s;
  max-height: 1000px;
  overflow: auto;
}

.events .card-content.collpased {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
