/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(213, 236, 214);
}

.dropdown-menu li a {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

ul.dropdown-menu {
  min-width: 320px;
}

ul.dropdown-menu li.dropdown-item {
  width: 50%;
  display: inline-block;
}

.topic-list-card ul.dropdown-menu li.dropdown-item {
  width: 100%;
}

small {
  color: #999999 !important;
}

.post-description img {
  width: auto;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background: red;
}

.btn-orange {
  background: yellow;
  color: black;
}

.color-black {
  color: black;
}

.dropdown-container {
  bottom: 17px;
}
