<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h2>What is Liars Club?</h2>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>What is Mafia?</h2>
            </div>
            <div class="card-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>How Should I Use This Website?</h2>
            </div>
            <div class="card-content">
                <div class="how-to-use">
                    <img src="howuse.png">
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>
