.row {
  padding: 20px;
}

.color {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.setup-image {
  max-height: 250px;
  width: auto;
}

textarea {
  min-height: 110px;
}

form .row.card .card-content {
  display: none;
}

form .row.card.expanded .card-content {
  display: block;
}

i {
  cursor: pointer;
  font-size: 40px;
  font-weight: lighter;
}

.main-card-content {
  height: calc(100vh - 429px);
  overflow: auto;
}

.players {
  margin-top: 9px;
}

.roles-list .row {
  padding: 10px 20px;
  margin: 15px 0;
}
