<div class="main-content">
  <div class="container-fluid">
    <div class="card row">
      <div class="card-header">
        <h3>{{setup.name}}</h3>
      </div>
      <div class="card-content">
        <form>
          <div class="row">
            <div class="">
              <div class="col-sm-12 col-xs-12 setup-image">
                <cl-image data-u="image" public-id="{{setup.imgId}}" cloud-name="{{mainService.cloudName}}" class="md-card-image" crop="fill" quality="80" height="200" width="280" format="jpg">
                </cl-image>
              </div>
              <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="form-group col-lg-12 col-md-12 label-floating">
                  <label class="control-label">Setup Name</label>
                  <input class="form-control" [value]="setup.name" readonly />
                </div>
                <div class="form-group col-lg-12 col-md-12 label-floating">
                  <label class="control-label">Created by:</label>
                  <input class="form-control" [value]="setup.createdUser" readonly>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 roles-names form-group label-floating">
                  <label class="control-label">Difficulty level</label>
                  <input class="form-control" [value]="setup.difficulty" readonly />
                </div>
                <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                  <label class="control-label">Playing Time</label>
                  <input class="form-control" readonly [value]="setup.playTime + ' mins'" />
                </div>
              </div>
              <div class="col-md-12 col-lg-12">
                <textarea class="form-control" [value]="setup.setupDescription" readonly ></textarea>
              </div>
            </div>
          </div>

          <div class="row filter-panel">
            <div class="form-group label-floating col-lg-4 col-md-4 col-sm-23">
              <label class="control-label">Number of Players</label>
              <ss-multiselect-dropdown [(ngModel)]="playersFilter" name="playersFilter" [options]="playerSelectSettings" [settings]="selectSettings" [texts]="selectedText" (ngModelChange)="playerFiltered()"></ss-multiselect-dropdown>
            </div>
            <div class="form-group label-floating col-lg-4 col-md-4 col-sm-23">
              <label class="control-label">Teams</label>
              <ss-multiselect-dropdown [(ngModel)]="teamFilter" name="teamFilter" [options]="teamSelectSettings" [settings]="selectSettings" [texts]="selectedText" (ngModelChange)="teamFiltered()"></ss-multiselect-dropdown>
            </div>
            <div class="form-group label-floating col-lg-4 col-md-4 col-sm-23">
              <label class="control-label">Roles</label>
              <ss-multiselect-dropdown [(ngModel)]="rolesFilter" name="rolesFilter" [options]="roleSelectSettings" [settings]="selectSettings" [texts]="selectedText" (ngModelChange)="roleFiltered()"></ss-multiselect-dropdown>
            </div>
          </div>

          <div class="row roles card expanded">
            <div class="cheader card-header">
              <h3>
                Roles <small class="description">What roles are in the game and how do they work?</small>
                <i class="material-icons pull-right" (click)="collapseExpand($event)">code</i>
              </h3>
            </div>
            <div class="roles-list card-content">
              <div class="" *ngFor="let role of filteredRoles; let ii = index;">
                <div *ngIf="rolesFilter.indexOf(ii) > -1 || rolesFilter.length == 0">
                  <div class="col-md-2 col-lg-2 col-sm-2">
                    <cl-image data-u="image" public-id="{{role.imgId}}" cloud-name="{{mainService.cloudName}}" class="md-card-image" crop="fill" quality="80" height="560" width="860" format="jpg">
                    </cl-image>
                  </div>
                  <div class="col-md-10 col-lg-10 col-sm-10">
                    <div class="col-lg-6 col-md-6 col-sm-6 roles-names form-group label-floating">
                      <label class="control-label">Role Name</label>
                      <input class="form-control" [value]="role.name" readonly />
                    </div>
                    <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                      <label class="control-label">Team</label>
                      <input class="form-control" [value]="role.team" readonly />
                    </div>
                    <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                      <label class="control-label">Description</label>
                      <textarea class="form-control" readonly [value]="role.description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row teams card expanded">
            <div class="cheader card-header">
              <h3>
                Teams
                <i class="material-icons pull-right" (click)="collapseExpand($event)">code</i>
              </h3>
            </div>
            <div class="teams-list card-content">
              <div class="team" *ngFor="let team of filteredTeams; let idx = index;">
                <div *ngIf="teamFilter.indexOf(idx) > -1 || teamFilter.length == 0">
                  <div class="form-group label-floating col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Name</label>
                    <input class="form-control" readonly [value]="team.name" />
                  </div>
                  <div class="form-group label-floating col-lg-3 col-md-3 col-sm-3">
                    <div class="color" [style.background]="team.color"></div>
                  </div>
                  <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Win Condition</label>
                    <textarea class="form-control" [value]="team.description" readonly></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row intersection card expanded">
            <div class="cheader card-header">
              <h3>
                Interactions
                <i class="material-icons pull-right" (click)="collapseExpand($event)">code</i>
              </h3>
            </div>
            <div class="narrations-list card-content">
              <div class="team" *ngFor="let intersection of setup.intersections; let idx = index;">
                <div class="form-group label-floating multiselection">
                  <label class="control-label">Roles/Teams</label>
                  <input class="form-control" [value]="getIntersectionSelectOptions(intersection)" readonly />
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" [value]="intersection.description" readonly></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row narration card expanded">
            <div class="cheader card-header">
              <h3>
                Narration <small class="description">Does the order in which roles are woken up matter? What is announced when people die? etc.</small>
                <i class="material-icons pull-right" (click)="collapseExpand($event)">code</i>
              </h3>
            </div>
            <div class="narrations-list card-content">
              <div class="team" *ngFor="let narration of setup.narrations; let idx = index;">
                <div class="form-group label-floating col-lg-6 col-md-6">
                  <label class="control-label">Teams</label>
                  <input class="form-control" [value]="getRolesSelectOptions(narration)" readonly />
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Narration</label>
                  <textarea class="form-control" readonly [value]="narration.description" ></textarea>
                </div>
              </div>
            </div>
          </div>


          <div class="row voting-roles card expanded">
            <div class="cheader card-header">
              <h3>
                Voting Rules <small class="description">How does voting work? Are ties possible? etc.</small>
                <i class="material-icons pull-right" (click)="collapseExpand($event)">code</i>
              </h3>
            </div>
            <div class="roles-list card-content">
              <div class="col-md-10 col-lg-10 col-sm-10">
                <div class="col-lg-6 col-md-6 col-sm-6 roles-names form-group label-floating">
                  <label class="control-label">Voting Name</label>
                  <input class="form-control" [value]="setup.voting.name" readonly />
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" [value]="setup.voting.description" readonly ></textarea>
                </div>
              </div>
            </div>
          </div>


          <div class="row missing-rules card expanded">
            <div class="cheader card-header">
              <h3>
                Additional Rules and Corner Cases <small class="description">What rules have you missed</small>
                <i class="material-icons pull-right" (click)="collapseExpand($event)">code</i>
              </h3>
            </div>
            <div class="additonal-rules-list card-content">
              <div class="" *ngFor="let additionalRule of setup.additionalRules; let idx = index;">
                <div class="form-group label-floating">
                  <label class="control-label">Roles/Teams</label>
                  <input class="form-control" [value]="getRolesTeams(additionalRule)" readonly />
                </div>
                <div class="form-group label-floating col-lg-12 col-md-12 col-sm-12">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" [value]="additionalRule.description" readonly ></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>
